<script type="text/javascript">
    RED.nodes.registerType('notification-center', {
        category: 'social',
        color: '#a6bbcf',
        defaults: {
            name: {value: ''},
        },
        inputs: 1,
        outputs: 2,
        icon: 'alert.png',
        label: function() {
            return this.name || 'notification-center';
        },
    });
</script>

<script type="text/x-red" data-template-name="notification-center">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>


</script>

<script type="text/x-red" data-help-name="notification-center">
    <p>Node-RED notification hub.</p>

    <p>A single place to send all notifications through, so they can all be handled in a consistent way.</p>

    <h3>Inputs</h3>

    <dl class="message-properties">
        <dt>payload
            <span class="property-type">notification | array | input-object</span>
        </dt>
        <dd>Notification, array of notifications or an input-object, see details below.</dd>
    </dl>

    <h3>Outputs</h3>
    <ol class="node-ports">
        <li>All notifications
            <dl class="message-properties">
                <dt>payload <span class="property-type">object</span></dt>
                <dd>Complete list of current notifications. See details below.</dd>
            </dl>
        </li>
        <li>Changed notifications
            <dl class="message-properties">
                <dt>payload <span class="property-type">object</span></dt>
                <dd>List of changed notifications. See details below.</dd>
            </dl>
        </li>
    </ol>

    <h3>Details</h3>

    <h4>Notification</h4>

    <p>One notification is an object (optionally JSON stringified) with the following content:</p>

    <dl class="message-properties">
        <dt>category <span class="property-type">string</span></dt>
        <dd>Category of the notification</dd>

        <dt>key <span class="property-type">string</span></dt>
        <dd>Key of the notification.</dd>

        <dt class="optional">severity <span class="property-type">string</span></dt>
        <dd>"high", "medium" or "low". Default: "low"</dd>

        <dt class="optional">text <span class="property-type">string</span></dt>
        <dd>Main content. Default: empty</dd>

        <dt class="optional">more <span class="property-type">string</span></dt>
        <dd>Additional text. May not be displayed. Default: empty</dd>

        <dt class="optional">url <span class="property-type">string</span></dt>
        <dd>URL of more information. Default: empty</dd>

        <dt class="optional">data <span class="property-type">object</span></dt>
        <dd>Custom data. Should be JSON compatible. Default: empty</dd>
    </dl>

    <p>Example:</p>

    <pre><code>{
    "category": "buildings",
    "key": "garageopen",
    "severity": "medium",
    "text": "Garage port has been open for over 30 minutes."
}</code></pre>

    <h4>Input-object</h4>

    <p>An object (optionally JSON stringified) containing notifications and/or instructions.</p>

    <dl class="message-properties">
        <dt>notifications <span class="property-type">notification | array</span></dt>
        <dd>Notification or array of notifications. Use an empty array <code>[]</code> or null for no notifications.
        </dd>

        <dt class="optional">clearCategory <span class="property-type">string</span></dt>
        <dd>Remove all notifications with this category, except those mentioned in this payload. Default: empty</dd>
    </dl>

    <p><code>category</code> and <code>key</code> are a composit key. If the notification-center node receives a
        notfication, while already having a notification with the same category and key, it's considered an update. If
        there is no notification with the same category and key, it is considered a new notification. I suggest that
        each node/subsystem in your setup uses a unique category.

    <p><code>text</code> is a short description. If it's empty, null or not present, the notification is considered a
        delete-request.</p>

    <p><code>severity</code> only affects the order, but should also be displayed in a visually distinct way when
        presented to the user. Suggested definitions:

    <dl class="message-properties">
        <dt>high</dt>
        <dd>Needs immediate attention. Example: Heater is malfunctioning.</dd>

        <dt>medium</dt>
        <dd>May need attention soon. Example: Fuel level in heater is low.</dd>

        <dt>low</dt>
        <dd>Attention not needed. Example: Heater turned off, target temp achieved.</dd>
    </dl>

    <h4>Input</h4>

    <p>The field <code>notifications</code> in the input-object can also have the name <code>high</code>,
        <code>medium</code> or <code>low</code>, you can even use multiple of them. This means that valid output is also
        valid input. The key is ignored, so if you change severity you only need to change the notification itself. You
        don't have to move it to the correct list.</p>

    <h4>Output</h4>

    <p>Both outputs is an object with three arrays, one for each severity. All information is sent on both outputs, you
        should only need to listen to one.</p>

    <p>Deleted notifications are never sent to output1. Deleted notifications are sent to output2 with <code>null</code>
        in the <code>text</code> field.


</script>
